server:
  port: ${SERVER_PORT:8081}

app:
  jwt:
    secret: ${JWT_SECRET:dev_super_secret_change_me}
  rootAdmin:
    key: ${ROOT_ADMIN_KEY:}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/auth_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
